# Backend Server Port
PORT=5000

# MongoDB Connection URI
MONGODB_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Groq AI Secrets
GROQ_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
GROQ_MODEL=lxxxxxxxxxxxxxx

# Clerk Authentication Secrets
CLERK_PUBLISHABLE_KEY=pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
